<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class = 'title'> 🦛 🦒 🦁 🦓 🦍 🦛 🦒 🦁 🦓 🦍 🦛 🦒 🦁 🦓 🦍 🦛 🦒 🦁 🦓 🦍 🦛 🦒 🦁 🦓 🦍</div>
    <div class='title'>Classify Savannah Animals!</div>
    <p style = 'font-family:Arial;">
      Use images of <strong>Hippos</strong>, <strong>Elephants</strong>, 
      <strong>Gorrilas</strong>, <strong>Lions</strong> or <strong>Zebras</strong>,
      OR ALL THREE!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
